.login{
 display: flex;
 flex-direction: column;
 height: 100vh;   
 justify-content: center;
 align-items: center;
 font-family: sans-serif;
}
.login .login_form{
    display: flex;
    flex-direction: column;
}
.login .login_form h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.1rem;
}
.login .login_form input{
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.24);
    font-family: initial;
    border-radius: 2px;
    font-size: 15px;
}
.login .login_form .btn{
    padding: 17px 30px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}